body{background:#ddd}
div{
background-color:#c2c2c5;
margin:10px auto;
width:800px;
padding:7px;
border:2px ridge #ddd;
}
p
{word-spacing:2px;
letter-spacing:3px;
line-height:5px;
text-indent:20px;
text-decoration:under-line;
text-transform:capitalize;
text-align:left;
direction:ltr
}
table{background:#fff;width:400px;border:2px dashed #red;padding:5px;margin:10px}
caption{color:blue;font-weight:bold}

