body{}
.container {
    width:1170px;
    margin: auto;}
.clearfix{
    clear:both;
}
/*header*/
.header {
    position:relative;
}
.header .slider {
    background-image:url(22.jpg);
    background-size:cover;
    height:730px;
}
.header .slider .intro {
    padding-top:65px;
    text-align:center
}
.header .slider .intro h1{
    text-transform: capitalize;
    color: #1dc0d5;
    font-style: italic;
    font-size: 34px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    width: 500px;
    margin-left: 330px;
    padding: 5px 0 5px 0;
    margin-top: 144px;
    margin-bottom: 40px;

}
.header .slider .intro button {
    position: absolute;
    margin-top: -15px;
    left: 600px;
    background: #c4b6b61f;
    border: 1px solid #574875;
    border-radius: 9px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
    color: #98ebee;
}
.header .slider .intro button:hover{
    background-color:#836a8891;
    cursor:pointer;
    transition:.6s all ease-in;
}
.header .navbar {
    overflow: hidden;
    position: absolute;
    width: 100%;
    color:#a19d9d
}
.header .navbar h2{
    float:left;
    text-transform:capitalize;   
}
.header .navbar h2 .part1 {
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    background-color: #614949;
    margin-right: 7px;
    border-radius: 10px;
    color: #9d9ad6;
}
.header .navbar h2 .part2{
    color:#9cb2c6;
}
.have {
        margin: 12px -72px 0px 0px;

    float:right;
}
.have button {
    background:none;
    border: none;
    margin: 0px 10px 0 10px;
    padding:10px;
    color:#fff;
    text-transform:capitalize;
    font-style:italic;
    font-weight:bold;
    font-size:15px;
    border-bottom:1px solid #a09cbe
}

/*header*/

/*features*/
.features{
    overflow:hidden;
    padding: 28px 0 62px 0;
    background-color:#c0fbfb91;
}
.features .feat{
    float: left;
    width: 29.33333%;
    margin-top: 20px;
    /* box-shadow: 17px 14px 27px -15px; */
    border-radius: 46px;
    /* border: 2px solid #ccc; */
    padding: 6px;
    margin-left: 21px;
    height: 290px;
    background-color: #f5dada7a;

    
}
.features .feat:hover{
    transform:scale(1.2,1.2);
    transition:.9s all ease;
}
.features .feat h3{
    text-transform:capitalize;
    color:#648d93;
    margin-bottom: 35px;
    font-style:italic;
    padding-left: 26px;
    font-size: 27px;
}
.features .feat p {
    color: #704949;
    line-height: 1.5;
    font-style: italic;
    padding: 8px;
    
}
.features button {
    margin-left: 90px;
    background: none;
    border: 1px solid #574848;
    border-radius: 20px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    background-color: #9cc2d6;
    color: #fff;
}
.features button:hover{
    
    cursor:pointer;
    background-color: #9cc2d6;
    transition:.7s all ease-in;
    font-size:20px;
    
}
/*features*/

/*about
font-weight: bolder;
    font-size: xx-large;
    margin-left: 244px;
    color: #3ae8ff;
    text-transform: capitalize;
    font-style: italic;
    border-bottom: 1px solid #ccc;
    width: 132px;
    text-shadow: -3px 0px 11px;
    font-weight: 600;
    font-size: 20px;
    color: #f1e7e7;
    box-shadow: 5px 7px 14px;
    border-radius: 26px;
    padding: 10px
*/
.about{
    overflow:hidden;
    background-color: #c0fbfb91;
    padding-top:30px;
    
}
.about .container{
    width:1250px;
}
.about .image{
    float:left;
    width:43%;
}
.about .info{
    float:right;
    width:57%;

}
.about .info >h3{
    font-weight: bolder;
    font-size: xx-large;
    margin-left:250px;
    color:#7d9b9f;
    text-transform:capitalize;
    font-style:italic;
}
.about .info >p {
    margin-left: 45px;
    font-weight: 600;
    font-size: 20px;
    color: #b69c9c;
    font-style: oblique;
}
.about .image img{
    
    width:100%
}
.about .info .icon-h3 {
    
    overflow:hidden;
        padding-bottom: 34px;

}
.about .info .icon-h3 .content img{
    width:100%
}
.about .info .icon-h3 .content {
    float: left;
    width: 40%;
    overflow: hidden;
    padding: 10px 15px 15px 10px;
    margin: 10px 0px 10px 21px;
    box-shadow: 8px 14px 27px -15px;
    /* border: 1px solid #575050; */
    border-radius: 30px;
    background-color: #f7eaeafc;
    
}
.about .info .icon-h3 .content:hover{
    transform:scale(1.1,1.1);
    transition:.8s all ease-in;
}
.about .info .icon-h3 .content .part-1 {
    float: left;
    width: 14%;
    padding-top: 34px;
    padding-right: 17px;

}
.about .info .icon-h3 .content .part-2{
    float:left;
    width:79%
}
.about .info .icon-h3 .content .part-2 h3{
    font-weight: bolder;
    color:#493529c9;
    text-transform:capitalize;
    font-style:italic;
}
.about .info .icon-h3 .content .part-2 p{
    font-size: 14px;
    color: #867676;
    line-height: 23px;

}
/*about*/

/*SKILLS*/
.skill {
    overflow:hidden;
    margin-top:30px 0px 30px 0px;

}
.skill .skills  {
    float:left;
    width:45%;
     margin-left: 105px;

}
.skill .skills h3 {
    font-weight: bolder;
    color:#7d9b9f;
    text-transform:uppercase;
    font-style:italic;
}
.skill .skills p {
     font-size: 14px;
    color: #b69c9c;
    line-height: 23px;
    
}
.skill .skills button{
    padding: 8px 20px 8px 20px;
    text-transform: uppercase;
    /* background: none; */
    border-radius: 15px;
    border: 2px solid #ddd;
    color: #574444;
    background-color: #dbd9e5;

}
.skill .skills button:hover{
    background-color: #ddd;
    cursor: pointer;
    transition: .5s all ease-out;
    font-size: 20px;
    background-color: #a5cbd0;
}
.skill .progress {
    float:left;
     width:40%;
    margin-left: 45px;
    margin-top: 50px;
         
}
.skill .progress .one >h3{
    font-weight: bolder;
    color:#7d9b9f;
    text-transform:uppercase;
    font-style:italic;
}
.skill .progress .one >div{
    width:430px;
    height:25px;
    background-color:#d6c9c9;
}
.skill .progress .one >div >span{
    line-height: 5px;
    padding-top: 10px;
    display: block;
    background-color: #b3aaaa;
    width: 350px;
    height: 15px;
    text-align: end;
    padding-right: 3px;
}
/*SKILLS*/

/*resume*/
.resume {
    padding: 60px;
    background-color:#c0fbfb;
    text-align: center;
    margin: 30px 0 20px 0;
}
.resume h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 40px;
}
.resume p{ 
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    
}
.resume button {
    padding: 8px 20px 8px 20px;
    text-transform: uppercase;
    background: #ddd;
    border-radius: 15px;
    border: 2px solid #ddd;
    color: #574444;
}
.resume button:hover{
    background-color:#ddd;
    cursor:pointer;
    transition:.5s all ease-out;
   font-size: 20px;
    background-color:#eba4ea
}
/*resume*/

/*education*/
.education{
    overflow:hidden;
}
.education .educ{
    float:left;
    width:40%;
}
.education .educ h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
}
.education .educ p{
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    font-style: italic;

}
.education .educ button{
    padding: 8px 20px 8px 20px;
    text-transform: uppercase;
    background: #ddd;
    border-radius: 15px;
    border: 2px solid #ddd;
    color: #574444;
}
.education .educ button:hover{
      background-color:#ddd;
    cursor:pointer;
    transition:.5s all ease-out;
   font-size: 20px;
    background-color:#eba4ea
}
.education .exper{
    float:left;
    width:40%;
    margin-top:80px;
    margin-left:150px;
}
.education .exper h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}
.education .exper p {
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 6px;
    margin-top: -5px;
}
.education .exper .one{
    color: #1f1010;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-right:7px
}
.education .exper .two {
    font-size: 14px;
    color:#a0afb8;
    line-height: 23px;
    font-style: italic;
    
}
.education .exper .three {
        display: block;
    width: 50px;
    background-color: #ced9eb;
    padding: 4px 8px 4px 8px;
        margin-bottom: -8px;

}
.education .exper hr{
    margin: 34px 0 29px 0;
    opacity: 35%;

}
/*education*/

.hidden{
    position: absolute;
    width: 1057px;
    opacity: 35%;
    margin: 34px 0 29px 0;
    left: 92px;
}

/*work*/
.work{
    overflow:hidden;
    margin-top:30px;
}
.work .one-1{
    float:left;
    width:40%
}
.work .one-1 h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 30px;
}
.work .one-1 p{
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 6px;
    margin-top: -5px;
}
.work .one-2{
    float:left;
    width:40%;
    margin-top: 80px;
    margin-left: 150px;
}
.work .one-2 h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}
.work .one-2 p {
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    font-style: italic;
    margin-bottom: 6px;
    margin-top: -5px;
}
.work .one-2 .one{
    color: #1f1010;
    text-transform: uppercase;
    font-family: sans-serif;
    padding-right:7px
}
.work .one-2 .two{
    font-size: 14px;
    color:#a0afb8;
    line-height: 23px;
    font-style: italic;
    
}
.work .one-2 .three {
        display: block;
    width: 50px;
    background-color: #ced9eb;
    padding: 4px 8px 4px 8px;
        margin-bottom: -8px;

}
.work .one-2 hr{
    margin: 34px 0 29px 0;
    opacity: 35%;
}
/*work*/
/*qoute*/
.qoute {
    background-color:#ddd;
    margin:30px 0 30px 0;
    text-align:center;
    margin-top: 47px;

}
.qoute p {
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    font-style: italic;
    padding-top: 60px;
}
.qoute h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 20px;
}
.qoute .up{
    overflow:hidden;
    margin-top:20px
}
.qoute .up >div{
    padding: 7px;
    border: 2px solid #ccc;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 23px;

}
.qoute .up .active:first-child{
    background-color:#766a6a
}
.qoute .up >div:hover{
    background-color:#766a6a;
    cursor:pointer;
    transition:.4s all linear
    
}
/*qoute*/

/*portfolio*/
.port{
    padding-top:20px;
    padding-bottom:20px;
    overflow:hidden;
    text-align:center
}
.port h3{
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 25px;
    text-align:center
}
.port .container >p {
    font-size: 14px;
    color:#7a7f82;
    line-height: 23px;
    font-style: italic;
    text-align: center;
    padding-bottom: 20px;
}
.port .portplus{
    overflow:hidden;
    float:left;
}
.port .portplus img{
    width: 20%;
    border-radius: 10%;
    float: left;
    padding-left: 0px;
    margin-left: 40px;
}
.port .portplus img:hover{
    transform:scale(1.2,1.2);
    transition:.7s all ease;
        
}
.port .portplus .one{
   float: left;
    overflow: hidden;
    width: 100%;
    padding: 20px 10px 20px 0;
}
.port .portplus .one >p{
    font-size: 14px;
    color: #7a7f82;
    line-height: 23px;
    font-style: italic;
    text-align: center;
    width: 70%;
    float: left;
    padding-left: 22px;
}
.port .portplus .two{
    float: left;
    width: 100%;
    padding: 10px;
}
.port .portplus .two >p{
    font-size: 14px;
    color: #7a7f82;
    line-height: 23px;
    font-style: italic;
    text-align: center;
    width: 70%;
    float: left;
    padding-right: 2px;
}
.port .portplus .three{
    float:left;
    width:100%;
    padding:10px
        
}
.port .portplus .three >p{
    ont-size: 14px;
    color: #7a7f82;
    line-height: 23px;
    font-style: italic;
    text-align: center;
    width: 70%;
    float: left;
    padding-left: 22px;
}
.port .mine{
    float:left;
    overflow:hidden;
    margin-top:40px;
}
.port .mine >div{
    width:32.333333%;
    float:left;
    padding-bottom:25px
}
.port .mine >div img{
    width: 92%;
        box-shadow: 36px 36px 41px -21px;

    border-radius: 15%;
    margin: 15px;
    
}
.port .mine >div img:hover{
    transform:scale(.9,.9);
    transition:.7s all ease;

}
/*portfolio*/

/*contact*/
.contact{
    overflow:hidden;
    background-color:#5FCEC0;
    height:550px;
    position:relative
}
.contact h3{
    text-transform: capitalize;
    color: #fff;
    font-style: italic;
    font-size: 42px;
    position: relative;
    left: 495px;
        margin-bottom: -1px;

}
.contact hr{
    color:#fff;
        margin-right: 681px;

    width:100px
}
.contact .con-1{
    float: left;
    width: 40%;
    margin-left: 132px;

}
.contact .con-2{
    float:left;
    width:40%;
    margin-left: 100px;

}
.contact .con-3 {
     margin-left:115px;
    float:left;
    width:40%
}
.contact .con-4 {
    float:left;
    width:40%;
    overflow:hidden;
    margin-top: 65px;

}
.contact .con-4 .para{
    float:left;
    width:40%;
    overflow:hidden
}
.contact .con-4 .mara{
   float:left;
    width:40%;
    overflow:hidden;
    

}
.contact .con-4 .para >p {
    float: left;
    color: #8e4141;

    font-style: italic;

    font-weight: 700;
}
.contact .con-4 .mara image{
    float:left;
    width:30.333335;
}
.contact .con-4 .mara >div {
    width: 13%;
    padding: 20px 0 10px 187px;
}
.contact .con-4 .mara >div img{
    width:74%;
}
.contact >div label{
    display: block;
    padding-bottom: 13px;
    text-transform: capitalize;
    color:#fff;
    font-style: italic;
    font-size: 35px;
}
.contact >div input{
    padding: 5px 24px 5px 13px;
    width: 400px;
    border:none;
    border-radius:20px
}
.contact .label{
    font-style: italic;
    font-size: 30px;
    position: relative;
    left: 44px;
    top: 18px;
    margin: 0px 0px 17px -46px;
}
.contact .label >input{
  padding: 5px 24px 5px 13px;
    width: 400px;
    border:none;
    border-radius:20px  
}
.contact .con-3 textarea{
    width:500px;
    height:125px;
    border-radius: 20px;

}
.contact button{
    display: block;
    padding: 5px 10px 5px 10px;
    margin-top: 15px;
    border: 1px solid #57485B;
    border-radius: 20px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    color: #09b5bc;
    background: #fff7fe8a;
}   
.contact button:hover{
    background-color:#ddd;
    cursor:pointer;
    transition:.5s all ease-out;
    font-size: 20px;
    background-color:#eba4ea;
    color:#fff;
        
}
/*contact*/
/*fotter*/

.fotter{
    background-color:#6ebbeb8a;
    height: 360px;
    text-align: center;
    margin-top: -32px;

}
.fotter h2 {
    font-weight: bolder;
    color: #536769;
    text-transform: uppercase;
    font-style: italic;
    font-size: 32px;
    padding-top: 49px;

}
.fotter p {
    color: #704949;
    line-height: 1.5;
    font-style: italic;
    padding: 10px 200px 10px 200px;
}
.fotter .the-end{
    overflow:hidden;
     margin-left: 471px;
}
.fotter .the-end >div{
    width: 22%;
    float: left;
    padding: 5px;
    margin: -2px -137px 10px 10px;
}
.fotter .the-end >div img {
    width: 25%;
    opacity: 34%;
    border-radius:20px
}
.fotter .the-end >div img:hover{
    opacity: 100%;
    transition:.6s all ease;
    cursor:pointer
}
/*fotter*/







